header
    div(class='colors')
    h1=('VIDRIO')
    h2=('trip instrumental')
    div(id='nav')
        ul
            li
                a(href='/')=('Home')
            li
                a(href='/albums')=('Albums')
            li
                a(href='/shows')=('Shows')
            li
                a(href='/videos')=('Videos')
            li
                a(href='/photos')=('Fotos')