extends layout

block content
    div(class='bio')
        article(class='personaje')
            img(src='asd')
            p=('Mauro Gonzalez')
            p(class='instrumento')=('Guitarra')
        article(class='personaje')
            img(src='asd')
            p=('Juan Pablo Dos Santos')
            p(class='instrumento')=('Teclados')
        article(class='personaje')
            img(src='asd')
            p=('Nicolas Gonzalez')
            p(class='instrumento')=('Batería')
        article(class='personaje')
            img(src='asd')
            p=('Ariel Wiznia')
            p(class='instrumento')=('Saxo')