extends layout

block content
    div(class='bio')
        p(class='info')
            | Tres artistas que se juntaron con la premisa de hacer música artesanal, fresca y sin límites más que el propio gusto de cada uno.
            | En el año 2012 se suma a la formación un saxofonista que ayuda a plasmar todas la ideas nuevas que pedían mayor polifonia.
        article(class='personaje')
            img(src='images/bio/mauro.png')
            p=('Mauro Gonzalez')
            p(class='instrumento')=('Guitarra')
        article(class='personaje')
            img(src='images/bio/juampe.png')
            p=('Juan Pablo Dos Santos')
            p(class='instrumento')=('Teclados')
        article(class='personaje')
            img(src='images/bio/nicolas.png')
            p=('Nicolas Gonzalez')
            p(class='instrumento')=('Batería')
        article(class='personaje')
            img(src='images/bio/ariel.png')
            p=('Ariel Wiznia')
            p(class='instrumento')=('Saxo')
        div(style='clear:both;')
        p(class='info')
            | Suena como:
            | Una mezcla de estructuras libres y tonos excentricosos inspirados en música psicodélica, jazz, música electroacústica y contemporánea.
