extends layout

block content
    article
        each show in shows
            - var imgSrc = '/images/shows/' + show._id + '.jpg';
            - var showDate = new Date(show.date);
            - var today = new Date();
            - if (showDate > today) {
            div(class='show new' ,id=show._id)
                h4=show.title
                h5=show.time
                div(class='body')
                    p(class='place')=show.place
                    p=show.body
                img(src=imgSrc)
            - }
        div(class='fb-like-box',data-href='http://www.facebook.com/vidrio.rockpsicodelico', data-width='292', data-show-faces='true', data-colorscheme='dark', data-stream='true', data-border-color='000000', data-header='true')
